/* ======= RESET ======= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Consolas, monospace;
}

body{
    background:black;
    color:#00ff9d;
    overflow:hidden;
}

/* ======= LOADER ======= */
#loader{
    position:fixed;
    top:0;left:0;
    width:100%;height:100%;
    background:black;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    z-index:10000;
    animation:fadeOut 2.5s forwards;
}

@keyframes fadeOut{
    0%{opacity:1;}
    80%{opacity:1;}
    100%{opacity:0;visibility:hidden;}
}

/* ===== LOGIN ===== */
#login{
    position:fixed;
    top:0;left:0;
    width:100%;height:100%;
    background:black;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:15px;
    z-index:9000;
}

#login input{
    width:250px;
    padding:10px;
    border:1px solid #00ff9d;
    background:black;
    color:#00ff9d;
}

#login button{
    padding:10px 20px;
    background:none;
    border:1px solid #00ff9d;
    color:#00ff9d;
}
#login button:active{
    transform:scale(0.92);
}

/* ===== NAVBAR ===== */
nav{
    width:100%;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    backdrop-filter:blur(7px);
    background:rgba(0,0,0,0.7);
    border-bottom:1px solid #00ff9d;
}
nav img{
    width:40px;
    height:40px;
    border-radius:50%;
}
nav button{
    background:none;
    border:1px solid #00ff9d;
    padding:7px 12px;
    color:#00ff9d;
}
nav button:active{
    transform:scale(0.9);
}

/* ===== PAINEL ===== */
#side{
    position:fixed;
    top:0;right:-300px;
    width:250px;height:100%;
    background:#020202;
    border-left:1px solid #00ff9d;
    padding:20px;
    transition:0.4s;
    z-index:3000;
}
#side.active{
    right:0;
}
#side button{
    background:none;
    border:1px solid #00ff9d;
    color:#00ff9d;
    padding:5px 10px;
}
#side a{
    display:block;
    margin:10px 0;
    color:#00ff9d;
    text-decoration:none;
}

/* ===== SEÇÕES ===== */
section{
    padding:30px;
}

/* ===== CARDS ===== */
.card{
    background:#050505;
    padding:20px;
    border:1px solid #00ff9d;
    margin-bottom:20px;
    border-radius:7px;
    transition:0.3s;
}
.card:hover{
    transform:scale(1.03);
}

/* ===== CÓDIGO ===== */
pre{
    background:black;
    border:1px solid #00ff9d;
    padding:10px;
    overflow:auto;
}

/* ===== CANVAS ===== */
#matrix{
    position:fixed;
    top:0;left:0;
    width:100%;
    height:100%;
    z-index:-1;
}
